<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_logo_steplife"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_logo_steplife_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StepLifeApp">
        <activity
            android:name=".StafFunction.Edit.EditArticleSection"
            android:exported="false" />
        <activity
            android:name=".StafFunction.Edit.EditSection"
            android:exported="false" />
        <activity
            android:name=".StafFunction.Add.AddNewSection"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnterenceActivity.Helper"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".EnterenceActivity.Splash_Screen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StafFunction.Add.PublicationNewArticles"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".garbage.TagSearchArticle"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StafFunction.Add.AddNewArticle"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".StafFunction.Add.AddTagsArticle"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".ProthesisModule.ProthesisModuleSettings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".garbage.AllArticleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StafFunction.Edit.HomeArticleRedactActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".StafFunction.Edit.TopPostRedactActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".StafFunction.ArticleOnTopSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".UserProfile.ProfileRedactActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.InformationAboutAppActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.MainSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bluetooth.Bt_module"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.UserAgreement"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".garbage.DeveloperAcsessActiviti"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StafFunction.Edit.EditArticlesActiviti"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".garbage.DownloadProcessActiviti"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnterenceActivity.ChooseArticle"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.User_ProfileActiviti"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TelephoneSign.OtpPinTelephone"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".TelephoneSign.TelephoneSignUp"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".TelephoneSign.OtpTelephoneCheckActiviti"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".garbage.BasedScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StepLifeApp.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".garbage.StartScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StepLifeApp.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StepLifeApp.NoActionBar" />
    </application>

</manifest>